.player_wrapper{
  display: flex;
  flex-direction: column;
  position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
}
.current_playing_device{
  width: 100%;
  height: 25px;
  background-color: rgb(2, 214, 66);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  
}

.current_playing_device::after{
  content: "";
  border-bottom: 10px solid rgb(2, 214, 66);
  position: absolute;
  right: 225px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  max-width: 20px;
  top: -10px;
}
.active_listening{
  margin-right: 15px;
  font-weight:500;
}
.player {
    
    width: 100%;
    height: 90px;
    background-color: rgb(39, 39, 39);
    
      }
  .player__disable{
      display: none;
  }
  .player__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    height: 100%;
  }
  .player__left,.player__right {
    flex: 1;
  }
  .player__center {
    flex: 1.2;
  }
  .player__left {
    padding: 10px;
  }
  .player__center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .player__right {
    display: flex;
    justify-content: flex-end;
    gap:15px;
  }
.device__button > button > svg>path{
    stroke: rgb(160, 160, 160) !important;
  }

  .device__button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative;
  }
  .device__button button{
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  .devices_container{
 
    position: absolute;
    background: #282828;
    border-radius: 5px;
    bottom: 25px;
    animation: fadeIn 333ms cubic-bezier(.3,0,0,1);
    right: -121px;
    width: 280px;
    z-index: 1002;
    box-shadow: 0 4px 12px 4px rgb(0 0 0 / 50%);
    display: none;
  }

  .enable_device_list{
    display: block;
    opacity: 1;
    bottom: 30px;
  }

  .devices_container::after{
    border: 10px solid transparent;
    border-top-color: #282828;
    bottom: -20px;
    content: "";
    left: auto;
    margin-left: -10px;
    margin-right: -10px;
    position: absolute;
    right: 138px;
  }

  .device__list{
    overflow-y: auto;
    padding: 5px;
  }
  .device__container__title{
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: none;
  }
  .device__container__title h3{
    display: block;
    padding: 14px 35px 10px 14px;
  }
  .connect__header{
    padding: 16px 0;
    text-align: center;
  }

  .connect__header img{
    width: 180px;
  }

  .connect-device-list{
   padding: 0;
    list-style: none;
  }


  .device-item{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    -webkit-box-align: center;

    align-items: center;
    background-color: #282828 !important;
    border: 0;
    outline: 0;
    display: flex;
    justify-content: flex-start;
    padding: 10px 15px;
    position: relative;
    width: 100%;
  }
  .device-item svg{
    padding-right: 15px;
    stroke: #fff;
  }
  .device-item svg > path{
    
    stroke: #fff;
  }
  .device-info{
    text-align: left;
    flex: 1;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
  }
  .connect-device-name,.spotify__connect__title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .connect-device-name p{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    text-transform: none;
  }

  .active_device{
    color: rgb(0, 199, 17) !important;
  }
  .active_device__item > svg{
    stroke: rgb(0, 199, 17) !important;
  }
  .active_device__item > svg >path{
    stroke: rgb(0, 199, 17) !important;
  }

  .spotify__connect__title__main{
    display: flex;
    align-items: center;
   
    color: #fff;
  }
  .spotify__connect__title__main svg{
    fill: #fff !important;
  }
  .song__info > .song__thumb {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .song__info > .song__thumb > img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  
  .song__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .song__text__info {
    display: flex;
    flex-direction: column;
  }
  .song__name {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
  }
  .song__album {
    color: #ccc;
    font-size: 12px;
  }
  
  .player__center__top {
    display: flex;
    align-items: center;
    position: absolute;
    /* top: -35px; */
  }
  .play__button {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 65px;
    background-color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  .prev_btn{
      background-color: transparent;
      color: #fff;
      border: 0;
      outline: 0;
      margin-right: 15px;
  }
  .next_btn{
    background-color: transparent;
    color: #fff;
    border: 0;
    outline: 0;
    margin-left: 15px;
  }
  .next_btn,.prev_btn svg{
      fill: currentColor;
  }
  .player__center__bottom {
    min-width: 100%;
    position: absolute;
    top: 15px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
  }
  .player__center__bottom > span:nth-child(1) {
    margin-right: 10px;
  }
  .player__center__bottom > span:nth-child(2) {
    margin-left: 10px;
  }
  .player__progress {
    width: 100%;
    height: 3px;
    background-color: rgb(78, 78, 78);
    margin-right: 10px;
  }
  .progress__value {
    background-color: #ccc;
  }
  .play__button:hover {
    transform: scale(1.04);
  }
  .player__volume__control {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
  }
  .player__song__volume__range {
    width: 140px;
    height: 3px;
    background-color: rgb(80, 80, 80);
    position: relative;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 15px;
  }
  .player__volume__control svg{
    fill: rgb(160, 160, 160);
  }
  .volume__range {
    width: 0px;
    height: 4px;
    border-radius: inherit;
    background-color: #ccc;
    position: relative;
  }
  .volume__range:hover {
    background-color: rgb(21, 255, 0);
  }
  
  .thumb {
    width: 10px;
    height: 10px;
    display: block;
    background-color: #fff;
    position: absolute;
    right: 0px;
    border-radius: 50%;
    top: -3px;
  }
  .thumb:hover {
    transform: scale(1.04);
    top: -5px;
    width: 15px;
    height: 15px;
  }
  .thumb:hover + .volume__range {
    background-color: rgb(0, 255, 34);
  }
  input[type="range"]::-webkit-slider-thumb:hover + .volume__range {
    background-color: rgb(0, 255, 34);
  }
  .player__song__volume__range > input {
    position: absolute;
    top: -6px;
    left: 0;
    width: 100%;
    cursor: pointer;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    opacity: 0;
    outline: 0;
  }
  input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: 0 none;
    cursor: pointer;
  }
  